/*
  --------------------------------- Layout du pied de page
*/

footer{
    background-color: rgb(44, 62, 80);
    color : #000;
  }
  
  .piedpage{
    display: flex;
    flex-direction: column;
    &__s1{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;
        &__externe, &__adresse, &__description{
            flex : 0 0 20%;
            & .menu { //ul
                display : flex;
                flex-direction: column;
            }
  
  
          }
          &__adresse{
              flex : 0 0 40%;
              &__coord{}
              &__recherche{}
          }
          &__description{
              flex:1 0 400px;
          }
      }
      &__s2 {
        padding: 2vh 2vw;
        height: 30px;
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    &__s3 {
        display: flex;
        justify-content: center;
    }
  }